.select__box{
    &--flex{
        justify-content: center;
        align-items: center;
        & > select{
          padding: 0.2rem;
          box-sizing: border-box;
          margin-right: 0.5rem;
          margin-left: 0.5rem;
          border-radius: 0.5rem;
          font-size: 1.6rem;
        }
    }
    & + &{
      margin-top: 5rem;
    }

    &.group{
        margin-right: -1rem;
          margin-left: -1rem;
          display: flex;
          flex-wrap: wrap;
          align-items: center;
          & > div{
                padding: 0.2rem;
                box-sizing: border-box;
                border-radius: 0.5rem;
          }
          select{
            width: 150px;
            font-size: 1.6rem;
            padding: 0.9rem 1rem;
            box-sizing: border-box;
            border-radius: 1rem;
          
          }
    }
    &--title{
          font-size: 1.6rem;
          text-transform: capitalize;
          font-weight: bold;
    }
}
.center{
  .group{
    justify-content: center;
  }
}
.right{
  .group{
    justify-content: right;
  }
}
.left{
  .group{
    justify-content: left;
  }
}


