.sidebar {
  padding: 3rem 2rem;
  width: 32rem;
  box-sizing: border-box;
  .logo {
    width: 18rem;
  }
  .acount {
    padding: 0 4rem;
    position: absolute;
    left: 0;
    bottom: 3rem;
    &__inner {
      margin-bottom: 2rem;
      display: flex;
      flex-wrap: wrap;
      align-items: center;
    }
    &__avatar {
      margin-right: 1rem;
      width: 5rem;
      border-radius: 50%;
      overflow: hidden;
    }
    &__name {
      font-size: 1.6rem;
      font-weight: bold;
    }
    &__des {
      font-size: 1.2rem;
      color: var(--text-color-second);
    }
  }
}
